.layout {
    width: 1000px;
    margin: 0% auto;
    
}

.layout tr td {
    padding: 20px;
    vertical-align: top;
    border: solid 1px gray;   
}

.header {
    font-size: 30px;
}

.footer {
    text-align: center;   
}

.sidebarHeader {
    font-size: 20px;
    width: 200px;
}

.sidebar ul {
    padding-left: 20px;
}

a, a:visited {
    color: darkgreen;
}

.adminPanelComment {
    height: 600px;
    width: 250px;
}

.adminPanelArticles {
    height: 600px;
    width: 350px;
}


